html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #24292e;
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    align-items: center;
}

nav > div {
    display: flex;
    align-items: center;
}

nav > div > a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.5s;
}

nav > div > a:hover {
    color: #bbbbbb;
}

nav > div:first-child > img {
    width: 32px;
    height: auto;
}

nav > div:first-child > * {
    margin-right: 20px;
}

nav > div:last-child {
    margin-left: auto;
}

nav > div:last-child > * {
    margin-left: 20px;
}

.border-white {
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px 7px 5px 7px;
}

nav > div:last-child > input {
    background-color: #404448;
    border: 0;
    padding: 10px 5px 10px 10px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    width: 230px;
}

nav > div:last-child > input:focus {
    background-color: white;
}

.icon-search {
    color: #8b8e91;
    position: absolute;
    right: 220px;
}

.drop-down-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    background-color: white;
    border-radius: 3px;
    width: 250px;
    margin-top: 20px;
    margin-left: -20px;
    padding-top: 25px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    animation-timing-function: linear;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    z-index: 10;
}

.ddm-item {
    color: #8b8e91;
    text-decoration: none;
    margin-left: 25px;
    margin-bottom: 10px;
    height: 20px;
    line-height: 20px;
}

.ddm-item-title-active {
    color: #24292e;
    font-weight: bold;
}

.ddm-item-title-inactive {
    font-family: 'Nanum Gothic Coding', monospace;
}

.ddm-item:hover {
    color: #1c74df;
}

.ddm-item-title-inactive:hover {
    color: #8b8e91;
    cursor: default;
}

@keyframes ddm-on {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.toggled-link {
    height: 70px;
    line-height: 70px;
}

main {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 50px;
}

main > div > div {
    margin-bottom: 15px;
}

main > div > div:last-child {
    font-size: 14px;
}

main > div > div:last-child > div {
    margin-top: 5px;
}

main > div > div:last-child > div > a {
    color: #1c74df;
    text-decoration: none;
}

main > div > div:last-child > div:last-child > svg {
    color: rgba(0,0,0,0.5);
    margin-right: 10px;
    margin-top: 15px;
}

main > div > div:last-child > div:last-child > span {
    background-color: #6f42c1;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 1px 5px 1px 5px;
}

main > div > div:last-child > div > a:hover {
    text-decoration: underline;
}

#profilePic {
    width: 100%;
    height: auto;
    max-width: 100%;
}

#status {
    font-size: 12px;
    border: 1.4px solid rgba(0,0,0,0.1);
    position: relative;
    padding: 10px;
    top: -10px;
    z-index: -10;
}

#status > span {
    font-size: 16px;
}

h2 {
    margin: 0;
}

main > div > div:nth-child(2) > h2:last-child {
    color: rgba(0,0,0,0.5);
    font-weight: 600;
    font-size: 20px;
}

main > div:last-child {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

main > div:last-child > div:first-child {
    border-bottom: 1.1px solid rgba(0,0,0,0.2);
    padding-bottom: 22px;
}

main > div:last-child > div:first-child > a {
    margin-right: 25px;
    text-decoration: none;
    padding-bottom: 20px;
    padding-right: 5px;
    color: rgba(0,0,0,0.5);
}

main > div:last-child > div:first-child > a:hover {
    border-bottom: 2px solid rgba(0,0,0,0.5);
    color: rgba(0,0,0,0.8);
}

main > div:last-child > div:first-child > a > span {
    background-color: rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.6);
    border-radius: 100%;
    font-size: 12px;
    font-weight: bold;
    padding: 2px;
}

.active-tab {
    border-bottom: 2px solid #e36209;
    color: black !important;
    font-weight: bold;
}

.pinned-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 40px;
}

.pinned-project {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 20px;
}

.pinned-project > svg {
    margin: 0 !important;
    color: rgba(0,0,0,0.5) !important;
}

.pinned-project > a {
    font-weight: bold;
    color: #1c74df;
    text-decoration: none;
}

.pinned-project > a:hover {
    text-decoration: underline;
}

.pinned-project > p {
    color: rgba(0,0,0,0.6);
    font-size: 12px;
}

.pinned-project > span {
    background-color: transparent !important;
    color: rgba(0,0,0,0.6) !important;
    font-weight: normal !important;
    font-size: 12px;
}

.pinned-project > div {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    display: inline-block;
}

.contribution {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.contribution-grid {
    display: grid;
    grid-template-columns: repeat(50, 12px);
    grid-template-rows: repeat(7, 12px);
    gap: 3px;
}

.contribution-grid > div {
    background-color: rgba(0,0,0,0.1);
    width: 12px;
    height: 12px;
}

* {
    box-sizing: border-box;
}
